* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

/* Header */
/* header-top */
.header-top {
    width: 100%;
    height: 88px;
}
.header-top .inner-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}
.header-top .inner-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 120px;
    height: 32px;
}
.header-top .inner-search input {
    width: 514px;
    height: 56px;
    border: 1px solid #f5f5f5;
    border-radius: 5px;
    background: #f5f5f5;
    padding-left: 40px;
}
.header-top .inner-search {
    position: relative;
}
.header-top .inner-search i {
    position: absolute;
    top: 22px;
    left: 18px;
}
.header-top .inner-wrap .hotline {
    width: 270px;
}
.header-top .inner-wrap p {
    text-align: center;
    margin: 0;
}
.header-top .top-icon {
    width: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* end header-top */

/* Navigation */
.navigation {
    width: 100%;
    height: 48px;
    background: #2E2E2E;
}
.navigation ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
    list-style-type: none;
    margin: 0;
}
.navigation ul li {
    padding-right: 40px;
    margin-left: 15px;
    margin-right: 15px;
}
.navigation ul li:not(:last-child) {
    border-right: 1px solid #ddd;
}
.navigation ul li a {
    color: white;
}
.navigation ul li i {
    color: #979797;
}
/* End Navigation */

/* Body main */
/* section-one */
.body-main .section-one {
    height: 564px;
    /* background: #211C24; */
    background: #211C24;
    margin-bottom: 100px;
}
.body-main .section-one .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.body-main .section-one .inner-wrap {
    width: 750px;
    height: 300px;
    background: #211C24;
}
.body-main .section-one .inner-wrap p {
    color: white;
    font-size: 20px;
}
.body-main .section-one .inner-wrap h1 {
    color: white;
    font-weight: 600;
    line-height: 72px;
    font-size: 64px;
    margin: 20px 0;
}
.body-main .section-one .inner-wrap button {
    width: 225px;
    height: 56px;
    border: 1px solid white;
    background: #211C24;
    color: white;
    border-radius: 5px;
    margin-top: 20px;
}
/* End section-one */

/* section-two */
.body-main .section-two {
    width: 100%;
    height: 600px;
    display: flex;
    flex-wrap: wrap; /* Cho phép các phần tử xuống hàng */
    justify-content: space-between;
}

.body-main .section-two .inner-left {
    width: 50%;
    display: flex;
    flex-wrap: wrap; /* Cho phép các phần tử xuống hàng */
    justify-content: space-between; 
    border-bottom: 1px solid #ddd;
}
.body-main .section-two .inner-left > div {
    width: 50%;  
}
.img_chacuahue, .img_nlbx {
    text-align: center; 
}
.img_chacuahue img, .img_nlbx img {
    max-width: 100%; 
    height: 300px; 
}
.section-two .info-chacuahue {
    padding: 100px 15px;
}
.section-two .info-chacuahue h1 {
    font-style: italic;
    font-weight: 450;
}
.section-two .info-chacuahue p {
    font-style: italic;
    opacity: 0.7;
}
.section-two .info-nlbx {
    padding: 75px 15px;
}
.section-two .info-nlbx h2 {
    font-style: italic;
    font-weight: 450;
}
.section-two .info-nlbx p {
    font-style: italic;
    opacity: 0.7;
}


.body-main .section-two .inner-right {
    width: 50%;
    display: flex;
    flex-wrap: wrap; /* Cho phép các phần tử xuống hàng */
    justify-content: space-between; 
}
.body-main .section-two .inner-right > div {
    width: 50%;
}
.section-two .inner-right .info-mexung {
    padding-top: 240px;
    padding-left: 20px;
    background: #EDEDED;
    height: 600px;
}
.section-two .info-mexung h1 {
    font-style: italic;
    font-weight: 450;
}
.section-two .info-mexung p {
    font-style: italic;
    opacity: 0.7;
}
.section-two .info-mexung button {
    width: 225px;
    height: 56px;
    border: 2px solid black;
    color: black;
    border-radius: 5px;
}
.section-two .inner-right {
    background: #EDEDED;
}
.section-two .inner-right .img_mexung {
    text-align: center;
    padding-top: 100px;
}
.img_mexung img {
    max-width: 100%;
    height: auto; 
}
/* End section-two */

/* category */
.category {
    height: 400px;
    padding-top: 100px;
    margin-bottom: 75px;
    background: #FAFAFA;
}
.category .inner-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}
.category .inner-top i {
    margin-right: 10px;
}
.category .inner-bot {
    display: flex;
    justify-content: space-between;
}
.category .category-item {
    width: 160px;
    height: 128px;
    background: #EDEDED;
    border-radius: 10px;
}
.category .category-item i {
    margin-left: 62px;
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 35px;
}
.category .category-item h6 {
    margin-left: 62px;
}
/* End category */

/* list-product */
.list-product .inner-top ul {
    display: flex;
    list-style-type: none;
}
.list-product .inner-top ul li {
    margin-right: 30px;
}
.list-product .inner-top ul li a {
    color: black;
}
.list-product .inner-top ul li a:hover {
    text-decoration: none;
}
.underline {
    border-bottom: 2px solid #000;
    font-weight: bold;
}

.list-product .inner-list-product {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.list-product .inner-list-product .product-item {
    position: relative;
    width: 22.5%;
    background: #F6F6F6;
    height: 400px;
    margin-bottom: 25px;
}
.list-product .inner-list-product .img_product_item {
    text-align: center;
    width: 160px;
    height: 160px;
    margin: 35px 44px;
}
.list-product .inner-list-product img {
    width: 100%;
    height: auto;
}
.list-product .inner-list-product h6
{
    text-align: center;
}
.list-product .inner-list-product p {
    text-align: center;
}
.list-product .inner-list-product button {
    width: 180px;
    height: 50px;
    border-radius: 5px;
    margin-left: 37px;
    padding: 10px;
    color: white;
    background: black;
}
.list-product .inner-list-product i {
    position: absolute;
    top: 15px;
    right: 15px;
}
.list-product .inner-list-product .fill-heart {
    color: red;
}
/* End list-product */
/* End Body main */